.menu-container-wrap {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    background-color: #1F2732;
    width: 200px;
    z-index: 1000;

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        bottom: 0%;
        padding: 0 25px;

        .menu-top {
            padding-top: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 30px;
            padding-top: 10px;

            img {
                width: 150px;
                height: auto;
            }

            .menu-content {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                justify-content: center;
                text-align: center;
                padding-top: 40px;

                a {
                    font-family: outfit;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.05em;
                    color: #ffffff;
                    margin: 0;
                    text-decoration: none;

                    &:hover {
                        color: #D1B06B;
                    }
                }
            }
        }

        .menu-bottom {
            padding-bottom: 25px;

            a,
            button {
                cursor: pointer;
                padding: 15px 34px;
                color: #1F2732;
                background-color: #D1B06B;
                font-family: Outfit;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                display: inline-block;
                border: 2px solid transparent;
                text-decoration: none;

                &:hover {
                    color: #D1B06B;
                    background-color: transparent;
                    border: 2px solid #D1B06B;
                }
            }
        }
    }
}