.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal-content {
        background-color: #161D27;
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 600px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        position: relative;

        .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            background: none;
            border: none;
            font-size: 48px;
            cursor: pointer;
            color: #D1B06B;

            &:hover {
                color: #d7d7d7;
            }
        }

        h2 {
            text-align: center;
            padding: 40px 0 20px !important;
        }

        .main-image {
            display: flex;
            justify-content: center;

            img {
                width: 100px;
                height: auto;
                object-fit: cover;
                padding: 0 0 30px;
            }

        }

        .desc {
            line-height: 34px;
            font-size: 18px;
            color: #d7d7d7;
            font-weight: 500;
            font-family: outfit;
        }

        .count {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                color: #d7d7d7;
            }
        }

        .modal-details {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;

            .price {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .price-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    border: 2px solid #D1B06B;
                    border-radius: 100%;
                }

            }

        }

        .cart-btn {
            text-align: center;
            padding: 12px 0 0;

            .cta-btn {
                background-color: #D1B06B;
                display: inline-block;
                padding: 15px 60px;
                color: #1F2732;
                border: 2px solid transparent;
                font-family: Outfit;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                cursor: pointer;

                &:hover {
                    color: #D1B06B;
                    border: 2px solid #D1B06B;
                    background-color: transparent;
                }
            }
        }

    }
}